<div class="content" data-aos="flip-left">
  <div class="textBox">
    <div class="enc1">
      <h2 class="enc">Imagen del dia<br></h2>
    </div>
    <div class="enc2">
      <h2><span class="title">Nasa</span></h2>
    </div>
    <div class="enc3">
      <p>Mira la imagen del espacio que la Nasa tiene para mostrarte hoy. Todos los dias encontraras una diferente.
      </p>
    </div>
  </div>
  <div class="conta">
    <div class="form">
      <button href="#" class="but">
        <span><img src="img/2.png" alt="lupa"></span>
        <div class="liquid"></div>
      </button>
      <div id="explicacion" class="exp"></div>
    </div>
    <div class="map" id="mapContainer">
    </div>
  </div>
</div>