<div class="container-fluid"
  style="background-color: rgb(27, 27, 27); width:100%; padding:80px; color: rgb(134, 134, 134);">
  <div class="row">
    <div class="col-md-3">
      <dl>
        <dt>
          Tel: 4627-1111
        </dt>
        <dd>
          A description list is perfect for defining terms.
      </dl>
    </div>
    <div class="col-md-3">
      <dl>
        <dt>
          Direccion:
        </dt>
      </dl>
    </div>
    <div class="col-md-3">
      <dl>
        <dt>
          Description lists
        </dt>
        <dd>
          A description list is perfect for defining terms.
        </dd>
      </dl>
    </div>
    <div class="col-md-3">
      <dl>
        <dt>
          Description lists
        </dt>
        <dd>
          A description list is perfect for defining terms.
        </dd>
      </dl>
    </div>
  </div>
</div>