<header>
  <a href="http://localhost:3000"><img src="img/logo.png" class="logo" alt="logo de la pagina"></a>
  <ul class="navigation" data-aos="fade-down" id="menu">
    <li><a href="http://localhost:3000">Home</a></li>
    <li><a href="#">Nosotros</a></li>
    <li><a href="http://localhost:3000/contacto">Contacto</a></li>
  </ul>
</header>