<section>
  <div class="c1">
    <div class="contact">
      <h2>Pagina de contacto</h2>
      <p>La Oficina de Comunicaciones de la NASA recibe miles de comunicaciones cada semana de todo el mundo y nos
        esforzamos por
        brindar información oportuna y respuestas a preguntas. Sin embargo, le recomendamos que utilice el sitio web de
        la
        NASA
        para encontrar la información que busca o las respuestas a sus preguntas antes de enviar una solicitud de
        información.
        La NASA también lo invita a considerar el uso de una o más de las siguientes herramientas de comunicación
        fáciles
        y
        convenientes para recibir Actualizaciones de la NASA sobre el emocionante trabajo que la NASA está haciendo.
      </p>
    </div>
    <div class="contacto">
      <h2>Contacta con nosotros</h2>
      <form>
        <div>
          <label for="usuario">Ingresa tu usuario</label>
          <input type="text" id="usuario" required class="usuario" name="usuario">
        </div>
        <div>
          <label for="password">Ingresa tu contraseña</label>
          <input type="text" id="password" required class="password" name="password">
        </div>
        <div>
          <label for="email">Ingresa tu e-mail </label>
          <input type="email" class="email" id="email" required name="email">
        </div>
        <input type="submit" class="inSubmit" value="Enviar" name="inSubmit">
      </form>
      <div class="respuesta" id="respuesta"><span id="feedback"></span></div>
    </div>
    <div class="contact">
      <h2>NASA Headquarters</h2>
      <p>300 E. Street SW, Suite 5R30</p>
      <p>Washington, DC 20546</p>
      <p>(202) 358-0001 (Office)</p>
      <p>(202) 358-4338 (Fax)</p>
    </div>
  </div>
</section>